<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.webApplication.Automation.TestNG.TestNGAnnotation3"/>
      <class name="com.webApplication.Automation.TestNG.TestNGAnnotation2"/>
      <class name="com.webApplication.Automation.TestNG.Class1"/>
      <class name="com.webApplication.Automation.TestNG.TestNGAnnotation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
